@namespace GitTimelapseView
@using System.Diagnostics
@using GitTimelapseView.Core.Common

@if (_commit == null)
{
    <Card class="commit-details">
    </Card>
}
else
{
    <Card Size="small" class="commit-details" Style="height: 100%">
	    <TitleTemplate>
		    <div class="card-title">
			    <span title=@_commit.Id>
				    Commit #@_commit.ShortId
			    </span>
                <Tooltip Title=@CopyToClipboardTooltip>
                    <Button Type="@ButtonType.Text" @onclick="OnButtonClicked" Size="@ButtonSize.Small">
                        <i class="mdi mdi-clipboard-multiple-outline" />
                    </Button>
                </Tooltip>
                <span>by</span>
                <span>
			        <AvatarExt Email=@_commit.Author.Email ShowDisplayName />
                </span>
			    <span>on @_authoredString</span>
                @if(_commit.WebUrl != null && GitHelpers.GetRemotePlatform(_commit.WebUrl) is string platform)
                {
                    <a class="open-remote-url" title=@($"Open commit in {platform}") href="" @onclick="OnWebUrlClicked" @onclick:preventDefault><i class="mdi mdi-open-in-new " />&nbsp;@platform</a>
                }
            </div>
	    </TitleTemplate>
        <Extra>
            @if(!string.IsNullOrEmpty(_commit.ContainedInTag))
                {
                    <Tooltip Title=@($"contained in tag {_commit.ContainedInTag}")>
                        <span class="tag-label" >
                            <i class="mdi mdi-tag" />
                            @_commit.ContainedInTag
                        </span>
                    </Tooltip>
                }
        </Extra>
        <CardTabs>
	        <Tabs @bind-ActiveKey="@TimelapseService.CommitInfoSelectedTab" Animated Size="@TabSize.Small" >
			    <TabPane Tab="Message" Key="message">
                    <div class="commit-message">
				        @_commit.Message
                    </div>
			    </TabPane >
			    <TabPane Tab="Changes" Key="changes">
					<FileChanges Changes="@_commit.FileChanges" CommitId="@_commit.Id"></FileChanges>
			    </TabPane >
		    </Tabs>
        </CardTabs>
    </Card>
}

@code {

    [Inject]
    TimelapseService TimelapseService { get; set; } = default!;

    [Inject]
    MessageService MessageService { get; set; } = default!;

    private Commit? _commit;
    private string _authoredString => _commit?.Author.When.ToString("dd/MM/yyyy @ hh:mm") ?? string.Empty;
    private const string CopyToClipboardTooltip = "Copy complete id to clipboard";

    protected override async Task OnInitializedAsync()
    {
        TimelapseService.CurrentCommitChanged += async (e, args) => await UpdateAsync().ConfigureAwait(false);
        await UpdateAsync().ConfigureAwait(false);
        await base.OnInitializedAsync();
    }

    private async Task UpdateAsync()
    {
        if (TimelapseService.FileHistory != null && TimelapseService.CurrentCommit != null)
        {
            _commit = TimelapseService.CurrentCommit;
        }
        await InvokeAsync(() => StateHasChanged());
    }

    private async Task OnButtonClicked()
    {
        if (TimelapseService.CurrentCommit != null)
        {
            await new CopyToClipboardAction(TimelapseService.CurrentCommit.Id, "commit id").ExecuteAsync().ConfigureAwait(false);
        }
    }

    private void OnWebUrlClicked()
    {
        if (_commit?.WebUrl != null)
        {
            Process.Start(new ProcessStartInfo
            {
                FileName = _commit?.WebUrl,
                UseShellExecute = true,
            });
        }
    }
}
