@namespace GitTimelapseView
@using System.Diagnostics
@using GitTimelapseView.Core.Common

@if (_commit == null)
{
    <Card class="commit-details">
    </Card>
}
else
{
    <Card Size="CardSize.Small" class="commit-details" Style="height: 100%">
	    <TitleTemplate>
		    <div class="card-title">
			    <span title=@_commit.Id>
				    Commit #@_commit.ShortId
			    </span>
                <Tooltip Title=@CopyToClipboardTooltip>
                    <Button Type="@ButtonType.Text" OnClick="OnButtonClicked" Size="@ButtonSize.Small">
                        <i class="mdi mdi-clipboard-multiple-outline" />
                    </Button>
                </Tooltip>
                <span>by</span>
                <span>
			        <AvatarExt Email=@_commit.Author.Email ShowDisplayName />
                </span>
			    <span>on @_authoredString</span>
                @if(_commit.WebUrl != null && GitHelpers.GetRemotePlatform(_commit.WebUrl) is string platform)
                {
                    <a class="open-remote-url" title=@($"Open commit in {platform}") href="" @onclick="OnWebUrlClicked" @onclick:preventDefault><i class="mdi mdi-open-in-new " />&nbsp;@platform</a>
                }
            </div>
	    </TitleTemplate>
        <Extra>
            @if(!string.IsNullOrEmpty(_commit.ContainedInTag))
                {
                    <Tooltip Title=@($"contained in tag {_commit.ContainedInTag}")>
                        <span class="tag-label" >
                            <i class="mdi mdi-tag" />
                            @_commit.ContainedInTag
                        </span>
                    </Tooltip>
                }
        </Extra>
        <ChildContent>
	        <Tabs @bind-ActiveKey="@TimelapseService.CommitInfoSelectedTab" Animated Size="@TabSize.Small" >
			    <TabPane Tab="Message" Key="message">
                    <div class="commit-message">
				        @_commit.Message
                    </div>
			    </TabPane >
			    <TabPane Tab="Changes" Key="changes">
					<FileChanges Changes="@_commit.FileChanges" CommitId="@_commit.Id"></FileChanges>
			    </TabPane >
		    </Tabs>
        </ChildContent>
    </Card>
}
