@namespace GitTimelapseView
@using LibGit2Sharp

<Table
    TItem="FileChangeTableRow"
    DataSource="@Rows"
    Size=@TableSize.Small
    ScrollY=@_scrollY
    PageSize=@PageSize
    RowClassName="@(x => x.Data.RowClass)"
    HidePagination=@_hidePagination>
    <PropertyColumn Property="c => c.ChangeKind" Width="70" Title="Change" Align="ColumnAlign.Center">
        @if(@context.ChangeKind == ChangeKind.Modified)
		{
			<i class="mdi mdi-pencil-box change-icon" style="color: #C48C45;" title="Modified"></i>
		}else if(@context.ChangeKind == ChangeKind.Added)
		{
			<i class="mdi mdi-plus-box change-icon" style="color: #55A65B;" title="Added"></i>
		}else if(@context.ChangeKind == ChangeKind.Deleted)
		{
			<i class="mdi mdi-minus-box change-icon" style="color: #9C3C43;" title="Deleted"></i>
		}else if(@context.ChangeKind == ChangeKind.Renamed)
		{
			<i class="mdi mdi-alpha-r-box change-icon" style="color: #37599D;" title="Renamed"></i>
		}else if(@context.ChangeKind == ChangeKind.Conflicted)
		{
			<i class="mdi mdi-alpha-c-box change-icon" style="color: red;" title="Conflict"></i>
		}
    </PropertyColumn>
    <PropertyColumn Property="c => c.Path" Title="Path" Width="520" Ellipsis Sortable Filterable>
        <Button Type="@ButtonType.Link" OnClick="()=>OnPathClicked(context)" Size="@ButtonSize.Small">@context.Path</Button>
    </PropertyColumn>
    <ActionColumn Width="60">
        <div class="actions">
            <Tooltip Title="@DiffTooltip">
                <Button Type="@ButtonType.Link" OnClick="()=>OnRowClicked(context)" Size="@ButtonSize.Small" >Diff</Button>
            </Tooltip>
        </div>
    </ActionColumn>
</Table>

<style>
    .filechange {
        font-size: 12px;
    }
</style>
