@namespace GitTimelapseView
@using AntDesign.TableModels
@using static GitTimelapseView.RazorApp

<Card Size="CardSize.Small">
	<TitleTemplate>
		<div class="card-title" style="font-weight: bolder;">
			Git Revision List
		</div>
	</TitleTemplate>
	<Body >
		<Table
            DataSource="@Revisions"
            TItem="FileRevisionTableRow"
            Size=@TableSize.Small
            ScrollY="250px"
            HidePagination=true
            PageSize=10000
            Style="margin-bottom: 10px;"
            RowClassName="@(x => x.Data.RowClass)"
            OnRow=@OnRow>
            <PropertyColumn Title="Rev" Property="c => c.Index" Sortable Width="55" Align="ColumnAlign.Center">
                <RevisionTooltip Revision=@context.Revision Placement="@Placement.Right">
                    <b>@context.Revision.Label</b>
                </RevisionTooltip>
            </PropertyColumn>
            <PropertyColumn Title="Author" Property="c => c.AuthorEmail" Sortable Width="75" Align="ColumnAlign.Center">
                 <AvatarExt Email=@context.AuthorEmail PopupPlacement="@Placement.Right"></AvatarExt>
            </PropertyColumn>
            <PropertyColumn Title="Message" Property="c => c.Message" Ellipsis Filterable></PropertyColumn>
            <PropertyColumn Title="Date"  Property="c => c.AuthorDate" Filterable Width="130"></PropertyColumn>
            <PropertyColumn Title="Sha1"  Property="c => c.ShortId" Filterable Width="60" Align="ColumnAlign.Center"></PropertyColumn>
            <ActionColumn Width="90">
                <div class="actions">
                    <Tooltip Title="@RevisionTooltip">
                        <Button Type="@ButtonType.Link" OnClick="()=>OnNavigate(context)" Size="@ButtonSize.Small">Navigate</Button>
                    </Tooltip>
                </div>
            </ActionColumn>
		</Table>
	</Body>
</Card>

<style>
    .revision {
        font-size: 12px;
        cursor: pointer;
    }

    .past-revision {

    }

    .current-revision {
        background-color: var(--gtlv-editor-highlight);
    }

    .future-revision {
        opacity: 0.3;
    }

</style>
