@namespace GitTimelapseView

<div class="@CssClass editor-margin">
    @if (TimelapseService.CurrentFileRevision != null)
    {
        @foreach(var block in @TimelapseService.CurrentFileRevision.Blocks)
	    {
            <div class="revision-row" style="@getBlockStyle(block)" @onclick="@(async () => await OnBlockClicked(@block))">
                <div style="display: inline">
                    @if(@block.FileRevision != null)
                    {
                        <span class="revision-span">
                            <RevisionTooltip Revision=@block.FileRevision Placement="@Placement.Right">
                                @(block.FileRevision.Label)
                            </RevisionTooltip>
                        </span><span class="avatar-span">
				            <AvatarExt Email=@block.InitialSignature.Email PopupPlacement="@Placement.Right"></AvatarExt>
                        </span>
                    }


                </div>
		    </div>
	    }
    }

</div>
